<div class="home">
  <div class="inner-home">
    <div class="hgroup">

      <h1>Hélène Pruvot</h1>
      <h2>Front-end Guru </h2><span> & </span><h3> cat lover</h3>
    </div>

    <div class="about">
      <h4>Hi there,</h4>
      <p>I’m Hélène, a french front-end developer. I’m doing</p><p>smart and pixel perfect coding.</p>
    </div>

    <a href="#h-projects">See my latest projects</a>
  </div>
</div>

<div id="h-projects" class="projects">
  <div class="inner-projects">

    <div class="project project-dyskit">
      <div class="project-info">
          <span>1</span>
          <h4>Dyskit</h4>
          <h5>Music platform</h5>
          <p class="technos"><strong>Technologies: </strong>Rails, Javascript</p>
      </div>
      <a href="/project/dyskit"></a>
    </div>

    <div class="project project-folioArthur">
      <div class="project-info">
        <span>2</span>
        <h4>Arthur Guillermin Hazan</h4>
        <h5>Portfolio</h5>
        <p class="technos"><strong>Technologies: </strong>TweenMax, Javascript, Gulp</p>
      </div>
      <a href="/project/folioArthur"></a>
    </div>

    <div class="project project-assu2000">
      <div class="project-info">
          <span>3</span>
          <h4>Assu 2000</h4>
          <h5>Corporate Website</h5>
          <p class="technos"><strong>Technologies: </strong>Wordpress, TweenMax, Handlebars, Gulp</p>
      </div>
      <a href="/project/assu2000"></a>
    </div>

  </div>
</div>
