<div class="home">
  <div class="inner-home">
    <div class="hgroup">

      <h1>Hélène Pruvot</h1>
      <h2>Front-end Guru </h2><span> & </span><h3> cat lover</h3>
    </div>

    <div class="about">
      <h4>Hi there,</h4>
      <p>I’m Hélène, a french front-end developer. I’m doing</p><p>smart and pixel perfect coding.</p>
    </div>

    <div class="soon">
      <h4>Portfolio 2015 coming soon...</h4>
    </div>
  </div>
</div>

<div class="projects">
  <div class="inner-projects">

    <div class="project project-dyskit">
      <a href="/project/dyskit">Dyskit</a>
    </div>

    <div class="project project-folioArthur">
      <a href="/project/folioArthur">Folio Arthur</a>
    </div>

    <div class="project project-assu2000">
      <a href="/project/assu2000">Assu2000</a>
    </div>

  </div>
</div>
