<div class="project">
  <h2>Project {{ title }}</h2>

  Position: {{ position }} <br />
  Duration: {{ duration }}

  <br>
  <a href="/project/{{ nextProject }}" class="back">Next project</a>
  <br>
  <a href="/" class="back">Back</a>
</div>
