.home {
	height: 100%;
	width: 100%;
	@include linear-gradient(rgb(195,55,58), rgb(165,38,41));
	text-align: center;
	color: #fff;
	display: table;
	overflow: hidden;
	.inner-home {
		display: table-cell;
		vertical-align: middle;
	}
	/*&:before {
		content: "";
		opacity: 0.2;
		background-image: url('#{$images}/pattern.png');
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}*/
	.hgroup {
		h1 {
			font-family: "Playfair Bold";
			font-size: 6em;
			letter-spacing: 2.66px;
			margin-bottom: 10px;
		}
		h2 {
			display: inline-block;
			font-family: "Gotham Light";
			font-size: 2em;
			text-transform: uppercase;
			letter-spacing: 0.88px;
		}
		span {
			display: inline-block;
			font-family: "Playfair Regular";
			font-size: 2em;
			padding: 0 10px;
		}
		h3 {
			display: inline-block;
			font-family: "Gotham Light";
			font-size: 2em;
			text-transform: uppercase;
			color: rgba(255,255,255,0.7);
		}	
	}
	.about {
		font-size: 1.6em;
		padding: 9% 0;
		h4 {
			font-family: "Gotham Medium";
			text-transform: uppercase;
			letter-spacing: 2px;
			margin-bottom: 15px;
		}
		p {
			font-family: "Gotham Light";
			line-height: 20px;
		}
	}
	.soon {
		font-size: 1.6em;
		h4 {
			font-family: "Gotham Medium";
			text-transform: uppercase;
			letter-spacing: 2px;
			margin-bottom: 15px;
		}
		p {
			font-family: "Gotham Light";
			line-height: 20px;
		}
	}
}

.projects {
	width: 100%;
	height: 300px;
	display: block;
	margin-top: 20px;
	.inner-projects {
		width: 100%;
		height: 100%;
	}
	.project {
		height: 350px;
		background-size: cover;
  		background-position: center center;
  		background-repeat: no-repeat;
  		margin: 20px 0;
		a {
			display: block;
			width: 100%;
			height: 100%;
			overflow: hidden;
			text-decoration: none;
			position: relative;
			span {
				position: absolute;
				font-family: "Playfair Regular";
				font-style: italic;
				font-size: 30em;
				color: #CECECE;
				left: 0;
				right: 0;
				margin: auto;
				text-align: center;
			}
		}
	}
	.project-info {
		margin: 0 auto;
		position: relative;
		text-align: center;
		padding: 175px 0 109px 0;
		h4 {
			font-family: "Gotham Medium";
			font-size: 4em;
			color: #3D3B3A;
			letter-spacing: 5px;
			line-height: 48px;
			text-transform: uppercase;
		}
		h5 {
			font-family: "Gotham Light";
			font-size: 1.5em;
			color: #A73737;
			letter-spacing: 1px;
			line-height: 18px;
			text-transform: uppercase;
		}
		p.technos {
			position: absolute;
			text-align: center;
			left: 0;
			right: 0;
			bottom: 10px;
			font-family: "Gotham Light";
			font-size: 1.3em;
			color: #6E6E6E;
			line-height: 16px;
		}
		strong {

		}
	}
}